body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.alarm-field {
    font-size: 25px;
}

.btn {
    white-space: nowrap;
}

.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}